/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bleufonce:#3C7DA6;
    --bleuclair:#79C7D9;
    --beige:#F2A88D;
    --orange:#EC5C42;
    --marron:#A63333;
    --noir:#31373e;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.wrap1 {max-width: 1600px; width:100%; margin: 0 auto;}
.wrap2 {max-width: 1000px; width:100%; margin:0 auto;}
.wrapcontenu {max-width: 1300px; width: 100%; margin: 0 auto}

.pageerror{
    text-align: center;
    text-transform: uppercase;
    color:var(--noir);
    padding:3rem 0;
}


/*formulaires*/
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin: 0 auto;
}
form input {
    padding: 1rem;
    border-radius: 5px;
}
form select{
    padding:1rem;
}
form input[type=submit]{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
}
form input[type=submit]:hover{
    background-color: #0C65F5;
    scale: 1.015;
    cursor: pointer;
}
form label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
::placeholder {
    color: var(--noir);
}
form strong {
    color: var(--orange);
}
form .errors {
    color: var(--orange);
    font-weight: bold;
}
form .checkbox {
    display: flex;
    flex-direction: column;
}
form .checkbox1 {
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: .8rem;
}
form .checkbox1 a{
    color: var(--orange);
}
form .checkbox1 a:hover{
    color: var(--bleuclair);
}
form .checkbox2 {
    padding-bottom: 2rem;
    font-size: .8rem;
}
form .checkbox2 a{
    color: var(--orange);
}
form .checkbox2 a:hover{
    color: var(--bleuclair);
}
form .errorscheckbox {
    color: var(--orange);
    font-weight: bold;
    font-size: 1rem;
}
form textarea {
    resize: vertical;
    padding:1rem;
    font-family: 'Montserrat', sans-serif;
}
.password-container {
    position: relative;
    width: 100%;
}
.password-container input{
    width: 100%;
}

#password-connect {
    padding-right: 30px;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


/*Header*/
header {
    width:100%;
    background-color: var(--bleufonce);
}

header .wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
    transition: all 0.5s;
}
header .logo img{
    width: 160px;
}
header nav ul {
    display: flex;
    gap: 3rem;
}
header nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
header i {
    font-size: 2rem;
    color: white;
}
header a {
    color: white;
    transition: transform 0.5s;

}
header img{
    transition: 0.5s;
}
header img:hover{
    transform: scale(1.075);
}
header a:hover{
    transform: scale(1.075);
}


/*accueil*/
#accueil {
    height:85vh;
    padding-top: 5rem ;
    position: relative;
}
#accueil .box_connexion{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:var(--bleuclair);
    padding: 3rem 0;
    border: 10px solid var(--bleufonce);
    border-radius: 50px;
}
#accueil .box_connexion h1{
    width:100%;
    color: white;
    font-weight: bold;
    padding-bottom:2rem;
    text-align: center;
}
#accueil .box_connexion a{
    padding:1.5rem;
    border-radius: 10px;
    background-color: var(--orange);
    color:white;
    font-weight: bold;
    transition: 0.5s;

}
#accueil .box_connexion a:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 2px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
#accueil .box_img .harold{
    position: absolute;
    width:100vh;
    z-index:-1;
    right:0;
    bottom: 0;
}
#accueil .box_img .design{
    position: absolute;
    width:1500px;
    z-index:-11;
    right:0;
    bottom: 0;
}
#accueil .box_img .design_full{
    position: absolute;
    width:1250px;
    z-index:-9;
    left:0;
    top: 0;
}
#accueil br{
    display: none;
}


/*presentation*/
#presentation{
    padding:3rem 1rem;
    /*padding-bottom: 3rem;*/
}
#presentation .wrap1{
    background-color: var(--bleuclair);
    border:5px solid var(--bleufonce);
    border-radius: 50px;
}
#presentation .wrap1 h2{
    padding:1rem 0;
    text-align: center;
    color: white;
}
#presentation .wrap1 .description{
    padding:2rem 3rem;
    text-align: center;
}
#presentation .wrap1 .description p{
    color: white;
    line-height: 2rem;
}
#presentation .wrap1 .description .piqure{
    text-transform: uppercase;
    font-weight: bold;
    color:var(--orange);
}


/*Mentions Légales*/
#mentions_légales{
    padding: 3rem 0;
}
#mentions_légales h1{
    text-align: center;
    padding-bottom: 2rem;
    color: var(--noir);
    font-size: 2.5rem;
}
#mentions_légales h3 {
    color: var(--noir);
}
#mentions_légales .texte {
    padding-bottom: 1rem;
}
#mentions_légales p {
    padding: 1rem 0;
}
#mentions_légales .strong {
    color: var(--orange);
    font-weight: bold;
}
#mentions_légales .lien {
    color: var(--orange);
    font-weight: bold;
}
#mentions_légales .lien:hover {
    color: var(--bleuclair);
}


/*CGU*/
#cgu{
    padding: 3rem 0;
}
#cgu h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--noir);
    font-size: 2.5rem;
}
#cgu h3 {
    color: var(--noir);
}
#cgu p {
    padding: 1rem 0;
}
#cgu .strong {
    color: var(--orange);
    font-weight: bold;
}


/*Politique de confidentialité*/
#pc {
    padding: 3rem 0;
}
#pc h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--noir);
    font-size: 2.5rem;
}
#pc h3, #pc h4 {
    color: var(--noir);
    padding: 1rem 0;
}
#pc h4 {
    padding-left: 1rem;
}
#pc p {
    padding: 1rem 0;
}
#pc .strong {
    color: var(--orange);
    font-weight: bold;
}
#pc .noir {
    font-weight: bold;
}


/*présentation oral*/
.sectionpres{
    padding: 3rem 0;
    margin:0 auto;
}
.titrepres {
    text-align: center;
    padding:1.5rem;
    color: var(--noir);
    font-size: 2.5rem;
}
.titrepres2 {
    padding-bottom: 1rem;
    color: var(--orange);
    font-size: 2rem;
}
.titrepres3{
    color: var(--noir);
    font-size: 1.4rem;
}


/*équipe*/
#equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#equipe .teammate{;
    text-align: center;
    width:18%;
    padding: 0.5rem;
    background-color: #3498db;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}
#equipe .teammate:hover{
    transform: scale(1.2);
}
#equipe .teammate h3{
   padding-bottom: 1rem;
}


/*cahier des charges*/
#cahierdescharges  h3 {
    color: var(--noir);
    padding: 1rem 0;
}
#cahierdescharges li {
    color: var(--noir);
    line-height: 1.5rem;
}
#cahierdescharges .strong {
    color: var(--orange);
    font-weight: bold;
}


/*technologie*/
#technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#technologies .tech{
    width:18%;
    text-align: center;
}
#technologies .tech .html{
    height:100px;
    background:url("../img/html.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#technologies .tech .css{
    height:100px;
    background:url("../img/css.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#technologies .tech .php{
    height:100px;
    background:url("../img/php.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#technologies .tech .mysql{
    height:100px;
    background:url("../img/mysql.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
#technologies .tech h3 {
    color: var(--noir);
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 0;
}
#technologies .tech p {
}


/*devis*/
#devis p{
    line-height: 1.5rem;
}
#devis table{
    padding:2rem;
}
#devis table tr{
    background-color:#3498db;
}
#devis table tr:nth-child(2n){
    background-color: rgba(52, 152, 219, 0.7);
}
#devis table tr th{
    color: white;
    padding:1rem;
    border-radius: 2px;
}


/*documentation*/
#source{
    padding: 2rem 0;
}
#source ul li a{
    color: var(--bleufonce);
}
#source ul li a:hover{
    color: var(--orange);
}


/*Inscription*/
#inscription{
    background-image: url("../img/image_inscription.png");
    background-position: center;
    padding: 3rem 0;
    margin:0 auto;
}
#inscription .wrap2 h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
}


/*inscription supplementaire*/
#inscriptionsup{
    padding: 3rem 0;
    margin:0 auto;
    width:100%;
}
#inscriptionsup .wrap2 h1{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
    color: var(--noir);
    text-transform: uppercase;
}
#inscriptionsup .wrap2 h2{
    text-align: center;
    padding-bottom: 3rem;
    color: var(--bleufonce);
    text-transform: uppercase;
}
#inscriptionsup form .adresse{
    text-align: center;
}
#inscriptionsup br{
    display: none;
}


/*nav carnet*/
navcarnet{
    width: 200%;
}
#navcarnet ul{
    display: flex;
    justify-content: center;
    background-color: var(--bleuclair);
}
#navcarnet ul li{
    padding:1rem;
    text-align: center;
}
#navcarnet ul li a{
    color:white;
    font-weight: bold;
    transition: 0.6s

}
#navcarnet ul li a:hover{
    color: var(--orange);

}


/*Rappel*/
#rappelcarnet{
    padding: 5rem;
    width: 100%;
}

#rappelcarnet h1 {
    color: var(--noir);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}
#rappelcarnet .rappelbox {
    width: 80%;
    background-color: #d5eaf8;
    margin: 15px auto;
    border-radius: 15px;
    color: var(--bleufonce);
    height: 150px;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#rappelcarnet .rappelbox:hover {
    border: var(--bleufonce) 5px solid;
    scale: 1.035;
    background-color: lightskyblue;
    color: white;
}
#rappelcarnet .rappeltext {
    padding-top: 30px;
    padding-left: 55px;
}
#rappelcarnet img {
    width: 220px;
    margin-right: 50px;
}


/*carnet*/
#carnet{
    padding:1rem 0;
}
#carnet h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
}
#carnet table{
    width:100%;
    margin: 0 auto;
    padding:2rem;
}
#carnet table thead tr th{
    background-color: #3498db;
    color: white;
    font-weight: bold;
    padding:0.5rem 0;
}
#carnet table tbody{
    background-color: white;
}
#carnet table tbody tr th{
    color: var(--bleufonce);
    padding:0.5rem;
    border-radius: 2px;
}
#carnet table tbody tr:nth-child(even){
    background-color: #ecf0f1 ;
}
#carnet table tbody tr:nth-child(odd){
    background-color: #d5eaf8;
}
#carnet table tbody tr:hover {
    background-color: #1abc9c;
}
#carnet table tbody tr:hover th{
    color: white;
}
#carnet table .btn_ajoutvaccin{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    line-height: 4rem;
    transition: 0.5s;
    padding: 1rem;
    border-radius: 5px;
}
#carnet table .btn_ajoutvaccin:hover{
    background-color: #0C65F5;
    scale: 1.015;
}


/*ajout vaccin*/
#ajoutvaccin {
    background-image:url("../img/background_ajoutvaccin.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:2rem;
}
#ajoutvaccin h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
}


/*Requête*/
#assistance{
    background-image: url("../img/background_assistance.png ");
    background-position: center;
    background-repeat: no-repeat;
    padding: 7rem 0;

}
#assistance .wrap2 h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
}
#assistance form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}
#assistance select{
    padding: 1rem;
    border-radius: 5px;
}
#assistance textarea{
    padding: 1rem;
    border-radius: 5px;
    resize: none;
}
#assistance input{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
}
#assistance label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
#assistance strong {
    color: var(--orange);
}
#assistance .errors{
    color: var(--orange);
    font-weight: bold;
}
#assistance .succes {
    color: #0287EC;
    font-weight: bold;
    text-align: center;
}

#messagerie{
    padding: 5rem 0;
}
#messagerie .wrapcontenu h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
}
#messagerie h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
#messagerie .box_mail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
    box-shadow: 10px 5px 5px #D1D2D4 ;
}
#messagerie .box_mail a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    color: var(--orange);
}


/* Détail Message*/
#message {
    background-image: url("../img/background_messagerie.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0;
}
#message .wrap2 {
    gap: 1rem;
}
#message .wrap2 .messages {
    padding: 0 2rem;
}
#message .contenu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    opacity: 0.75;
    gap: 2rem;
}
#message h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
    padding-right: 1rem;
    padding-left: 1rem;
}
#message h3 {
    padding: 2rem 0;
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
#message .contenu p {
    padding: 1rem;
}
#message .button{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#message a{
    width: 50%;
    padding: 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
#message  a:hover{
    scale: 1.015;
    cursor: pointer;
}


/*Mon carnet modifications de coordonnées*/
#modif_coordonnee {
    padding: 5rem 0;
    background-image: url("../img/background_modif_coordonnées.svg");
    background-position: center;
}
#modif_coordonnee h1 {
    text-align: center;
    color: var(--noir);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
}
#modif_coordonnee form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}
#modif_coordonnee label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
#modif_coordonnee input {
    padding: 1rem;
    border-radius: 5px;
}
::placeholder {
    color: var(--noir);
}
#modif_coordonnee textarea {
    padding: 1rem;
    border-radius: 5px;
    resize: none;
}
#modif_coordonnee input[type=submit]{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
}
#modif_coordonnee input[type=submit]:hover{
    background-color: #0C65F5;
    scale: 1.015;
    cursor: pointer;
}
#modif_coordonnee textarea::placeholder{
    color: var(--noir);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
#modif_coordonnee .error {
    color: var(--orange);
    font-weight: bold;
}


/*Connexion*/
#connexion{
    background-image: url("../img/image_connexion.png");
    background-position: center;
    padding: 10rem 0;
    margin:0 auto;
}
#connexion .wrap2 h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--noir);
    text-transform: uppercase;
}
#connexion br{
    display: none;
}
#connexion .wrap2 a{
    color: var(--bleufonce);
    font-weight: bold;
    transition: 0.5s;
    margin-left: 24%;
}
#connexion .wrap2 a:hover{
    color: var(--bleuclair);
}


/*Mot de passe oublie*/
#mdpoublie{
    background-image: url("../img/oubliemdp.jpg");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
    margin:0 auto;
    text-align: center;
}
#mdpoublie .wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mdpoublie .bloc-mdpoublie{
    width: 80%;
}
#mdpoublie .wrap1 h1{
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: var(--noir);
    text-transform: uppercase;
}
#mdpoublie .wrap1 form input{
    width: 95%;
    padding: 18px 18px 35px;
    border-radius: 15px;
    border: none;
    background-color: #BFD5F3;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#mdpoublie .wrap1 form input::placeholder{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#mdpoublie .wrap1 form .sub{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
}
#mdpoublie .wrap1 form .sub:hover{
    background-color: #0C65F5;
    scale: 1.015;
    cursor: pointer;
}
#mdpoublie .wrap1 .oublie-mdp-retour-buton{
    margin-top: 15px;
}
#mdpoublie .wrap1 a{
    color: var(--bleufonce);
    font-weight: bold;
    transition: 0.25s;
}
#mdpoublie .wrap1 a:hover{
    color: var(--bleuclair);
}
#mdpoublie .error{
    color: var(--orange);
    font-weight: bold;
    margin-top: -25px;
}
#mdpoublie .br2{
    display: none;
}


/*Succès mail*/
#succesmail{
    background-image: url("../img/mail-enove.jpg");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
    margin:0 auto;
    text-align: center;
}
#succesmail .wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#succesmail .bloc-succesmail{
    width: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
#succesmail .wrap1 h1{
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: var(--noir);
    text-transform: uppercase;
}
#succesmail .wrap1 a{
    color: var(--bleufonce);
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
    text-align: center;
    margin-top: 10px;
}
#succesmail .wrap1 a:hover{
    color: var(--bleuclair);
}


/*Mot de passe changement*/
#changemdp{
    background-image: url("../img/motdepasse-change.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 10rem 0;
    margin:0 auto;
    text-align: center;
}
#changemdp .wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#changemdp .bloc-changemdp{
    width: 80%;
}
#changemdp .wrap1 h1{
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--noir);
    text-transform: uppercase;
}
#changemdp .wrap1 form{
    display: flex;
    flex-direction: column;
}
#changemdp .wrap1 form input{
    width: 95%;
    padding: 20px 18px 20px ;
    border-radius: 15px;
    margin-top: 15px;
    border: none;
    background-color: #BFD5F3;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#changemdp .wrap1 form input::placeholder{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#changemdp .wrap1 form .sub{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
    margin-bottom: 35px;
}
#changemdp .wrap1 form .sub:hover{
    background-color: #0C65F5;
    scale: 1.05;
    cursor: pointer;
}
#changemdp .wrap1 .oublie-mdp-retour-buton{
    margin-top: 15px;
}
#changemdp .errors{
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 15px;
}
#changemdp label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
#changemdp br{
    display: none;
}

#page_404 h1 {
    color: var(--noir);
    font-size: 3rem;
}
#page_403 h1 {
    color: var(--noir);
    font-size: 3rem;
}


/*Footer*/
footer{
    background-color: var(--bleufonce);
    transition: all 0s;
}
footer .wrap1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 75px 0;
}
footer .footer-logo .footer-logo-img{
    width: 180px;
}
footer .footer-logo p{
    padding-top: 1rem;
    width: 200px;
    margin-top: -20px;
    text-align: center;
    color: white;
}
footer .footer-logo{
    position: relative;

}
footer i{
    color: lightskyblue;
    margin-right: 15px;
}
footer h2{
    color: white;
    margin-top: 65px;
    margin-bottom: 25px;
}
footer a{
    color: white;
    transition: 0.25s;
}
footer a:hover{
    color: var(--orange);
}
footer ul li{
    line-height: 25px;
}
footer .footer-contact{
    color: white;
}
footer .footer-copy{
    background-color: #135EA8;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
}
footer br{
    display: none;
}


/*Media query*/
@media screen and (max-width: 1200px){
    /*Bulle Accueil*/
    #accueil .box_connexion{
        width:50%;
        margin-left: 50px;
    }

    /*Mot de passe oublie*/
    #mdpoublie .img-mdpoublie {
        display: none;
    }
    #mdpoublie .wrap1{
        width: 100%;
        justify-content: center;
    }
    #mdpoublie .bloc-mdpoublie{
        margin-left: 0;
        width: 75%;
        margin-bottom: 50px;
    }
    #mdpoublie .wrap1 h1{
        text-align: center;
    }
    #mdpoublie .wrap1 form .sub{
        font-size: 15px;
    }
    #changemdp br{
        display: block;
    }
    #messagerie .box_mail {
       width: 90%;
    }
    #rappelcarnet h1 {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 900px) {
/*header*/
    header .wrap1 {
        padding: 0 3rem;
    }
/*footer*/
    footer .wrap1{
        text-align: center;
        padding-bottom: 10px;
    }
    footer h2{
        margin-top: 15px;
        margin-bottom: 25px;
    }
    footer .footer-logo {
        display: none;
    }
/*accueil*/
    #accueil .box_connexion{
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color:var(--bleuclair);
        padding: 3rem 0;
        border: 10px solid var(--bleufonce);
        border-radius: 50px;
    }
    #accueil .box_img{
        width:100%;
    }
    #accueil .box_img .harold{
        width:100%;
    }
    form {
       width: 90%;
    }
    form select {
        border: 1px solid black;
    }
    #cgu{
        padding: 3rem 2rem;
    }
    #pc {
        padding: 3rem 2rem;
    }
    #pc h1 {
        font-size: 2rem;
    }
    #pc h3 {
        font-size: 1.1rem;
    }
    #mentions_légales {
        padding: 3rem 2rem;
    }
    #modif_coordonnee form {
        width: 90%;
    }

    #rappelcarnet img{
        display: none;
    }
    #rappelcarnet .rappeltext{
        text-align: center;
        width: 90%;
    }
    #equipe{
        justify-content: center;
    }
    #equipe .teammate{
        width:48%;
        margin: 0.5rem;
    }
    #technologies .tech{
        width:48%;
    }
}

@media screen and (max-width: 750px) {
    header nav ul span {
        display: none;
    }
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    header .logo img {
        width: 160px;
    }
    header i {
        font-size: 2.5rem;
        margin-top: 25px;
        margin-right: 35px;
    }
    header nav ul {
        margin-top: 15px;
        margin-bottom: 40px;
        gap: 2rem;
    }
    #equipe .teammate{
        width:90%;
    }
    #technologies .tech{
        width:90%;
        padding:3rem;
    }
}


@media screen and (max-width: 600px) {

/*accueil*/
    #accueil br{
        display: block;
    }
    #accueil .box_connexion{
        width: 85%;
        margin: 0 auto
    }
    #accueil h1{
        font-size: 20px;
    }
    #accueil .box_img .design_full{
        display: none;
    }
    #accueil .box_img .harold{
        width:100%;
    }

/*inscription*/
    #inscription{
        padding: 3rem 1rem;
        background-image: none;
    }
    #inscription .wrap2 h1{
        font-size: 2.9rem;
    }
    #inscription form {
        width: 100%;
    }
/*Connexion*/

    #connexion{
        padding: 5rem 1rem;
        background-image: none;
    }
    #connexion .wrap2 h1{
        font-size: 2.5rem;
    }
    #connexion form {
        width: 100%;
    }
    /*Assistance*/
    #assistance {
        padding: 5rem 1rem;
        background-image: none;
    }
    #assistance .wrap2 h1{
        font-size: 2.5rem;
    }
    #assistance form {
        width: 100%;
    }
/*Mon carnet*/
    #carnet table{
        padding:0.5rem;
    }
/*messages*/
    #message {
        background-image: none;
    }
    #message .wrap2 h1{
        font-size: 2rem;
    }
    #message .wrap2 .messages {
        padding-left: 1rem ;
        padding-right: 1rem ;
    }

    #message .wrap2 .messages .contenu {
        box-shadow: 10px 5px 5px #c7c7cb;
    }
/*conditions generales*/
    #cgu{
        padding-top: 3rem;
    }
}
@media screen and (max-width: 550px) {

/*header*/
    header .wrap1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    header i {
       width: 20%;
    }

    #accueil .box_connexion{
        width: 90%;
        margin: 0 auto
    }
/*Nav mon carnet*/
    #navcarnet ul {
        flex-wrap: wrap;
    }
/*Mon carnet*/
    #carnet .tableau {
        overflow-x: auto;
    }
    #carnet table{
        padding:0;
    }

/*inscription*/
    #inscription{
        padding: 3rem 1rem;
        background-image: none;
    }
    #inscription .wrap2 h1{
        font-size: 2.5rem;

    }
/*inscription supplémentaire*/
    #inscriptionsup .wrap2 h1{
        font-size: 1.8rem;
    }
    #connexion{
        padding: 5rem 1rem;
        background-image: none;
    }
    #connexion br{
        display: block;
    }
/*rappel*/
    #rappelcarnet .rappeltext{
        padding-left:30px;
        padding-top: 35px;
        font-size: 1.1rem;

    }

/*footer*/
    footer{
        font-size: 13px;
    }
    footer .wrap1 {
        display: flex;
        flex-direction: column;
    }
    footer br{
        display: block;
    }
    footer span{
        display: none;
    }
    footer .footer-copy{
        line-height: 25px;
    }
    footer .footer-adresse{
        line-height: 15px;
    }
    footer .footer-numero{
        margin-top: 5px;
        margin-left: -12px;
    }
    /*conditions generales*/
    #cgu{
        padding-top: 3rem;
    }
    #messagerie .box_mail {
        flex-direction: column;
    }
    #messagerie .wrapcontenu h1{
        font-size: 2.5rem;
    }
    #modif_coordonnee h1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #changemdp{
        background-size: auto;
    }
    #devis table{
        padding:0;
    }
}
@media screen and (max-width: 450px) {
    #rappelcarnet .rappeltext{
        padding-left:15px;
        padding-top: 35px;
    }
    #rappelcarnet .rappeltext:hover{
        padding-top: 25px;
    }

}
@media screen and (max-width: 350px) {
    #rappelcarnet .rappeltext{
        padding-top:20px;
    }
    #rappelcarnet .rappeltext:hover{
        padding-top: 15px;
    }
}



