/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bleufonce:#3C7DA6;
    --bleuclair:#79C7D9;
    --beige:#F2A88D;
    --orange:#EC5C42;
    --marron:#A63333;
    --noir:#31373e;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
}
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.wrap {max-width: 1600px; width:100%; margin: 0 auto;}
.wrapcontenu {max-width: 1300px; width: 100%; margin: 0 auto}
.wrapformulaire {max-width: 1000px; width:100%; margin:0 auto;}
.wrap2 {margin:150px auto; padding: 0 15px; text-align: center;
}


/*formulaires*/
form :not(.formdemande){
    width: 50%;
    gap: 1rem;
    margin: 0 auto;
}
form input {
    padding: 1rem;
    border-radius: 5px;
}
form select{
    padding:1rem;
}
form input[type=submit]{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
}
form input[type=submit]:hover{
    background-color: #0C65F5;
    scale: 1.015;
    cursor: pointer;
}
form label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
::placeholder {
    color: var(--noir);
}
form strong {
    color: var(--orange);
}
form .checkbox {
    display: flex;
    flex-direction: column;
}
form .checkbox1 {
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: .8rem;
}
form .checkbox1 a{
    color: var(--orange);
}
form .checkbox1 a:hover{
    color: var(--bleuclair);
}
form .checkbox2 {
    padding-bottom: 2rem;
    font-size: .8rem;
}
form .checkbox2 a{
    color: var(--orange);
}
form .checkbox2 a:hover{
    color: var(--bleuclair);
}
form .errorscheckbox {
    color: var(--orange);
    font-weight: bold;
    font-size: 1rem;
}
form textarea {
    resize: vertical;
    padding:1rem;
    font-family: 'Montserrat', sans-serif;
}
.error {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
}

/*Menu*/
.menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
    padding-bottom: 25px;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.menu p{
    padding-top: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.menu p:hover{
    color: orange;
}


/*header*/
header{
    background-color: #224abe;
    transition: 0.5s;
}

.boite-bouton-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: 0.5s;
}

#buton-header{
    background-color: blueviolet;
    border: none;
    height: fit-content;
    width: fit-content;
    margin-bottom: 150px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    font-weight: bold;
    display: none;
}


/*Index Admin*/

.grandtitrehauthome{
    margin-top: 75px;
}
.ensavoirplus:hover{
    content: 'Text affiche lors du hover';
}
.row{
    width: 100%;
}
#camembertCanvas {
    display: block;
    margin: auto;
}
#camemberteffect {
    display: block;
    margin: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #3498db;
    padding: 10px;
}

th {
    background-color: #3498db;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

tr:nth-child(odd) {
    background-color: #d5eaf8;
}

tr:hover {
    background-color: #1abc9c;
}
.bg-orange{
    background-color: darkorange;
}
.bg-vertclair{
    background-color: yellowgreen;
}
.cardhoverindex{
    transition: 0.5s;
}
.cardindex:hover{
    text-decoration: none;
}
.cardhoverindex:hover{
    scale: 1.05;
}
/*gestion utilisateurs*/
#utilisateurs{
    margin: 0 auto;
}
/*gestion itemuser*/
#infoitemuser{
    width: 100%;
}
#infoitemuser h1 {
    color: var(--noir);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}
#infoitemuser form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    margin: 0 auto;
}
#infoitemuser input{
    padding: 1rem;
    border-radius: 5px;
}
#infoitemuser textarea {
    padding: 1rem;
    resize: none;
}
::placeholder{
    color: var(--noir);
}
#infoitemuser input[type=submit]{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
    margin-bottom:75px;
}
#infoitemuser input[type=submit]:hover{
    background-color: #0C65F5;
    scale: 1.015;
    cursor: pointer;
}
#infoitemuser label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
#infoitemuser .nom{
    font-weight: bold;
    color:var(--orange);
}




/*formulaire d'ajout de vaccin*/

#gestion_vaccin{
    width: 100%;
}
#gestion_vaccin .nom{
    font-weight: bold;
    color:var(--orange);
}
#gestion_vaccin h1 {
    color: var(--noir);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}
#gestion_vaccin form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin: 0 auto;
}
#gestion_vaccin input{
    padding: 1rem;
    border-radius: 5px;
}
#gestion_vaccin textarea {
    padding: 1rem;
    resize: none;
}
::placeholder{
    color: var(--noir);
}
#gestion_vaccin input[type=submit]{
    background-color: #0287EC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 18px 18px;
    transition: 0.5s;
    margin-bottom:75px;
}
#gestion_vaccin input[type=submit]:hover{
    background-color: #0C65F5;
    scale: 1.015;
    cursor: pointer;
}
#gestion_vaccin label {
    color: var(--noir);
    font-weight: bold;
    padding-left: 1rem;
}
.marginfooter{
    padding-bottom: 225px;
}
.vaccintable {
    font-size: 12px;
}
#gestion_vaccin a{
    color: white;
    text-decoration: none;
}


#carnet_gestion{
    display: none;
}

#tablevaccin, #insertvaccin{
    width: 85%;
    margin: 100px auto;
}

/*Modification profil*/
#utilisateurs{
    width: 80%;
    margin: 100px auto;
}
#utilisateurs h1 {
    color: var(--noir);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}


/*Gestion requete*/
#gestion_demande{
    padding-top: 5rem;
    width: 100%;
}

#gestion_demande h1 {
    color: var(--noir);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}
#gestion_demande h2 {
    text-align: center;
}

#gestion_demande .total_demande {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#gestion_demande .menudemande {
    cursor: pointer;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    width: 80%;
    text-align: center;
    margin-top: 15px;
    position: relative;
    transition: 0.5s;
}

#gestion_demande .menudemande:hover {
    scale: 1.05;
}

#gestion_demande .menudate {
    position: absolute;
    right: 5px;
    top: 5px;
}

#gestion_demande .tableContainer {
    display: none;
    margin-top: -20px;
}

#gestion_demande table {
    width: 100%;
}

#gestion_demande .tableContainer{
    width: 80%;
}

#gestion_demande strong{
    font-weight: bold;
}

#gestion_demande th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
}

#gestion_demande .id{
    display: none;
}

#gestion_demande th {
    background-color: #f2f2f2;
}

#gestion_demande .usertable{
    width: 25%;
}

#gestion_demande .contentable{
    width: 75%;
}
#gestion_demande h2{
    margin-top: 50px;
}
#gestion_demande .tableContainer form{
    display: flex;
    flex-direction: row;
}
#gestion_demande .tableContainer .reponse_requete{
    width: 75%;
    height: 200px;
    resize: none;
    padding: 10px;
}
#gestion_demande .tableContainer .sub{
    width: 25%;
    height: 200px;
}




/*Footer*/


footer{
    background-color: #224abe;
    transition: all 0s;
}
footer .wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 75px 0;
}
footer .footer-logo .footer-logo-img{
    width: 200px;
}
footer .footer-logo p{
    width: 200px;
    margin-top: -20px;
    text-align: center;
    color: white;
}
footer .footer-logo{
    position: relative;
}
footer i{
    color: lightskyblue;
    margin-right: 15px;
}
footer h2{
    color: white;
    margin-top: 65px;
    margin-bottom: 25px;
}
footer a{
    color: white;
    transition: 0.25s;
}
footer a:hover{
    color: var(--orange);
    text-decoration: none;
}
footer ul li{
    line-height: 25px;
}
footer .footer-contact{
    color: white;
}
footer .footer-copy{
    background-color: #04BBFF;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: white;
}
footer br{
    display: none;
}


@media screen and (max-width: 1400px){
    .marginfooter{
        padding-bottom: 275px;
    }
}
@media screen and (max-width: 1200px) {
    #gestion_demande .menudemande {
        display: flex;
        flex-direction: column;
    }
    #infoitemuser .menu{
        display: flex;
        flex-direction: column;
    }
    #gestion_demande .menudemande .menudate{
        position: relative;
    }
}


@media screen and (max-width: 1150px){
    .prenom-table{
        display: none;
    }
    .rappel_colonne{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    /*footer*/
    footer .footer-logo {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #header {
        translate: -220px;
        position: fixed;
    }
    #buton-header{
        display: block;
        position: fixed;
    }
    .vaccintable {
        overflow-x: auto;
    }
    footer .wrap {
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 550px) {

    /*footer*/
    footer{
        font-size: 13px;
    }
    footer br{
        display: block;
    }
    footer span{
        display: none;
    }
    footer .footer-copy{
        line-height: 25px;
    }
    footer .footer-adresse{
        line-height: 15px;
    }
    footer .footer-numero{
        margin-top: 5px;
        margin-left: -12px;
    }
    th, td {
        font-size: 10px;
    }
    .vaccintable {
        font-size: 10px;
    }
    #gestion_vaccin .menu {
        flex-wrap: wrap;
    }
    #infoitemuser .menu {
        flex-wrap: wrap;
    }
    #utilisateurs h1 {
        font-size: 2.5rem;
    }
}


